.btnContainer {
  display: flex;
}

.propsContainer {
  margin-top: 12px;
  display: flex;
}

.resultTitle, .resultItem {
  border-bottom: 1px solid gainsboro;
}

.resultTitle {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 8px;
}

.rawResult {
  font-size: 90%;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  font-family: monospace, 'Courier New', Courier;
}
